header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100vw;
    height: 3em;
    background-color: #f321d7;
    position: absolute;
    z-index: 990;
}

.header__img--1{
    margin-left: 12%;
    margin-right: 12%;
}

@media screen and (min-width: 768px){
    header{ 
        padding: 3px;
    }

    .header__img--1{
        margin-left: 10%;
        margin-right: 10%;
        height: 2.6rem;
    }
}

@media screen and (min-width: 400px){
    header{ 
        padding: 3px;
    }

    .header__img--1{
        margin-left: 8%;
        margin-right: 8%;
        height: 2.6rem;
    }
}